.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &.editable {
    flex-direction: column;
  }

  .imageItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .imageEdit {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .miniatureImage {
    width: 100px;
    height: 100px;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
